
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 4%;
  text-align: left;
}

/* Download Buttons */

.download-button {
  margin: 10% 3% 5% 0;
}

/* Title-Image */

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.title-img-div {
  position: relative;
}

/* Features Section*/

.feature-box {
  padding: 3%;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover{
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
}


#features {
  position: relative;
}

/* Testimonials Section */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#testimonials {
  padding-bottom: 30px;
  background-color: #ef8172;
}

/* Press Section */

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

/* Footer section */

.footer-icon {
  margin: 30px 10px;
}


/* Media Query */

@media (max-width: 1072px) {

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
